@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #191a20;
}

#container {
    height: auto;
    width: auto;
    background: linear-gradient(to bottom, #000000 10%, #2b0e0e);
    border-radius: 20px;
    padding: 30px;
    box-shadow: inset 1px 2px 0px rgb(255 255 255 / 18%), inset -2px -2px 2px rgb(0 0 0 / 65%);
}

h2, h4 {
    color: white;
}

#startPage {
    height: 220px;
    width: 400px;
}

#startPage h2, #winner h2 {
    font-size: 50px;
    color: rgb(207, 204, 204);
}

#line {
    height: 1px;
    width: 100%;
    background: rgb(207, 204, 204);
    margin: 20px 0;
}

#startPage h4 {
    font-size: 25px;
    color: rgb(207, 204, 204);
}

#buttons {
    height: auto;
    width: 100%;
    margin: 30px 0;
    display: flex;
    flex-direction: row;
}

#buttons button {
    height: 55px;
    width: 180px;
    cursor: pointer;
    background: #e02929;
    border: none;
    outline: none;
    color: #191a20;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    transform: scale(1);
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
    transition: 0.5s;
}

#buttons button:first-child {
    margin-right: 40px;
}

#buttons button:hover, #button button:hover {
    transform: scale(0.9);
}

#winner {
    display: none;
}

#winner #button button {
    margin-top: 20px;
}

#main-page {
    height: 550px;
    width: 350px;
    padding: 20px;
    position: relative;
    display: block;
}

#main-page #player-display {
    font-size: 25px;
    color: white;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 0;
    z-index: 2;
}

#gameBoard {
    height: 400px;
    width: 330px;
    position: absolute;
    top: 150px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 15px;
}

#box {
    height: 100px;
    width: 100px;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgb(255 255 255 / 26%), -2px -2px 5px rgb(0 0 0 / 87%);
}




/*
body {
    background: #202020;
    font-family: Quicksand, sans-serif;
    color: whitesmoke;
    padding: 0;
    margin: 0;
}

#game-choice {
    display: flex;
    width: 50%;
    z-index: 3;
    position: relative;
    margin: auto;
    top: -350px;
    left: 200px;

}

#single-player {
    margin-left: 8%;
    width: 80%;
    height: 150px;
    font-size: 160%;
    border: 1px solid white;
    border-radius: 10px;
    background: #3a3a3a;
    color: white;

}

#two-player {
    margin-left: 8%;
    width: 80%;
    height: 150px;
    font-size: 160%;
    border: 1px solid white;
    border-radius: 10px;
    background: #3a3a3a;
    color: white;
}

#single-player:hover {
    opacity: 0.8;
    color: rgb(0, 255, 34);
}

#two-player:hover {
    opacity: 0.8;
    color: rgb(0, 255, 34);
}


.title {
    background: black;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    padding: 10px;
}

.game-overview {
    width: 30%;
    float: left;
    margin-left: 2em;
    margin-top: -19.5em;
    background: rgba(31, 202, 16, 0.2);
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
}

.player-display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
    margin-left: 33rem;
}

.hide {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    margin: 0 auto;
}

.box {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: green;
}

.playerO {
    color: red;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-right: 32rem;
}

#reset {
    background-color: #FF3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 33rem;
    cursor: pointer;
}

#scores {
    float: right;
    margin-right: 20%;
    position: relative;
    top: -240px;
    font-size: 160%;
}

#score {
    color: green;
    margin-left: 0.5em;
}

#loss {
    color: red;
    margin-left: 0.45em;
}

*/

/* Media Queries for mobile 320px */

/*

@media (max-width: 320px) {

    .title {
        font-size: 100%;
    }

    .container {
        margin-left: -20px;
    }

    .game-overview {
        width: 80%;
        margin-top: 9em;
    }

    .controls {
        position: relative;
        right: 495px;
    }

    #scores {
        position: relative;
        top: -565px;
        left: 50px;
    }
    
}
*/