@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


body {
    background: #202020;
    font-family: Quicksand, sans-serif;
    color: whitesmoke;
    padding: 0;
    margin: 0;
}

.game-choice {
    display: flex;
    width: 66%;
    height: 300px;
    border: 2px solid white;
    border-radius: 8px;
    background: black;
    z-index: 3;
    position: relative;
    margin: 0 0 0 18%;
    bottom: 300px;
}

#single-player {
    width: 40%;
    height: 250px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 20px 0 20px 35px;
}

#two-player {
    width: 40%;
    height: 250px;
    border: 2px solid white;
    border-radius: 8px;
    margin: 20px 0 20px 150px;
}

#single-player > h3 {
    text-align: center;
    margin-top: 60px;
    font-size: 160%;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-decoration: underline;
}

#two-player > h3 {
    text-align: center;
    margin-top: 60px;
    font-size: 160%;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-decoration: underline;
}

#single-player > p {
    text-align: center;
    margin-top: 5px;
}

#two-player > p {
    text-align: center;
    margin-top: 5px;
}

.title {
    background: black;
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    padding: 10px;
}

.game-overview {
    width: 30%;
    float: left;
    margin-left: 2em;
    margin-top: -19.5em;
    background: rgba(31, 202, 16, 0.2);
    border: 1px solid white;
    border-radius: 8px;
    padding: 10px;
}

.player-display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
}

.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 4em;
    margin-bottom: 1em;
    margin-left: 33rem;
}

.hide {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
    margin: 0 auto;
}

.box {
    border: 1px solid white;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: green;
}

.playerO {
    color: red;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-right: 32rem;
}

#reset {
    background-color: #FF3860;
    color: white;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 33rem;
    cursor: pointer;
}

#scores {
    float: right;
    margin-right: 20%;
    position: relative;
    top: -240px;
    font-size: 160%;
}

#score {
    color: green;
    margin-left: 0.5em;
}

#loss {
    color: red;
    margin-left: 0.45em;
}

/* Media Queries for mobile 320px */

@media (max-width: 320px) {

    .title {
        font-size: 100%;
    }

    .container {
        margin-left: -20px;
    }

    .game-overview {
        width: 80%;
        margin-top: 9em;
    }

    .controls {
        position: relative;
        right: 495px;
    }

    #scores {
        position: relative;
        top: -565px;
        left: 50px;
    }
    
}